@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600&display=swap');

/*general*/
*{
    margin:0;
    color: white;
    font-family: "Outfit", sans-serif;
}
/*fin general*/

/*header*/
header{
    background-color: #A63740;
}
#tete{
    display: flex;
    height: 60px;
}

.title{
    flex:1;
    font-family: "Outfit";
    text-align: center;
    align-self: center;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 5px;
}

.close {
    align-self: center;
    padding: 10px;
}
/*fin header---------------------------------*/

/*main---------------------------------------*/
main {
    /*background-color:#ff0008;*/
    background-color: #000000;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.imgfond {
    width: auto;
}

.degrade {
    padding: 0;
    background: linear-gradient(to right, rgba(237, 63, 74, 1) 7.14%, rgba(204, 50, 52, 0.77) 28.15%, rgba(194, 38, 46, 0.54) 57.98%, rgba(109, 32, 38, 0.47) 84.45%, rgba(9, 7, 7, 0.36) 99.16%);
}

.blocimage-presentation {
    display: flex;
    align-items: center;
    margin: 100px;
}

#imgban {
    width: auto;
    padding-left: 30px;
}

#presentation {
    padding: 40px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 100;
    font-size: 60px;
    padding: 20px;
}





.genre>ul li::after {
    content:"•";
    word-spacing: 20px;
}

.genre>ul {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
}

.description {
    padding-left: 39px;
    font-weight: 100;
}

.bouton {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 37px;
}


/*FIN main---------------------------------------*/

.description_bas {
    display: inline;
    justify-content: space-around;
    padding: 40px;
}

.description_bas>ul li {
    display: inline;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.description_bas>ul li:hover {
    border-bottom: 1px solid white;
    line-height: 4px;
    border-width: 0 0 3px;
}

.imageslider {
    display: flex;
    justify-content: space-around;
    padding: 33px;
}


/*fin main*/

/*Footer*/
footer{
    background-color: #1D2126;
}
/*fin footer*/